.cart-modal {
  position: absolute;
  max-width: 50rem;
  min-width: 25rem;
  min-height: 20rem;
  background-color: var(--color-white);
  padding: 1rem;

  &__header {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 1rem;
  }

  &__header-title {
    text-transform: uppercase;
    justify-self: center;
    grid-column: 2/3;
  }

  .close-icon {
    grid-column: 3/4;
    justify-self: end;
  }
}
