.product__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product__item {
  display: flex;
  gap: 2rem;
  padding: 2rem 0;
  align-items: center;

  &-img {
    height: 90px;
  }

  &-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h3 {
      font-weight: 800;
      font-size: 2rem;
    }
  }

  &-add-button {
    border: none;
    background-color: var(--color-button);
    min-width: 9rem;
    padding: 0.5rem 0.9rem;
    border-radius: 3px;

    &:hover {
      cursor: pointer;
      background-color: var(--color-button-hover);
    }
  }
}
