$black: #000;
$white: #fff;
$disabled-grey: #939393;
$submit-hover: #222;
$soft-grey: #a6a6a6;

:root {
  --color-black: #{$black};
  --color-white: #{$white};
  --color-disabled-grey: #{$disabled-grey};
  --color-submit-hover: #{$submit-hover};
  --color-soft-grey: #{$soft-grey};
}
