body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-title {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.panel-container {
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
    font-size: 18px;
}

.panel-tabs {
    display: flex;
}

.panel-tab {
    padding: 10px 25px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    flex-grow: 1;
    text-align: center;
    color:inherit;
    text-decoration: none;
}

.panel-tab:last-child {
    border-right: none;
}

.panel-contents-wrapper {
    max-height: 400px;
    overflow-y: scroll;
}

.hide {
    display: none !important;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);
}